<section id="home" class="presentacion m-3">

    <img class="banner" src="../../../assets/banner.png" alt="banner" class="w-100 img-fluid">

    <div class="row justify-content-between presentacion_datos">

      <div class="col-6">
        <img src={{persona.img}} alt="foto-perfil" class="fotoperfil rounded-circle img-fluid col-7">
        <h1 class="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
        <h4>{{persona.puesto}}</h4>
        <h4>{{persona.compania}}</h4>
        <br><p>{{persona.ubicacion}} <a href="http://">Información de contacto</a></p>
      </div>

      
      <div class="col-5 instituciones">
        <img class="logo" src="../../../assets/logo_UNER.png" alt="logo UNER">
        <h4>Universidad Nacional de Entre Ríos</h4> <br>
        <img class="logo" src="../../../assets/logo_Arg_Prog.jpg" alt="Logo Argentina Programa">
        <h4>Argentina programa</h4>
      </div>
      
      <span>
        <button type="button" class="btn btn-success m-1" routerLink="/editpresentacion/1" *ngIf="isLogged">
        <i class="fa-solid fa-pen-to-square"></i>
        Editar
      </button>
      </span>

    </div>
</section>
