<section id="proyectos" class="seccion">
  <div class="row">
      <div class="col-9">
          <h2 class="tit1">Proyectos</h2>
      </div>
      <div class="col-3 text-center">
          <button type="button" class="btn btn-secondary" routerLink="/nuevoproyectos" *ngIf="isLogged">
              <i class="fa-solid fa-plus"></i>
              Agregar
          </button>
      </div>
  </div>


  <ul class="items-list">
      <li *ngFor="let Proyectos of proyectos">
        <div class="row justify-content-between contenido">
          <h2>{{Proyectos.nombre}}</h2>
              <!-- <div class="col-2 text-center">
                  <img class="logo" src="{{Proyectos.img}}" alt="logo">
              </div> -->

              <div class="col-9">
                  <h4>{{Proyectos.descripcion}}</h4>
              </div>

              <div class="col-3" *ngIf="!isLogged">
              </div>

              <div class="col-3 text-center" *ngIf="isLogged">
                  <button type="button" class="btn btn-success m-1" routerLink="/editproyectos/{{Proyectos.id}}">
                      <i class="fa-solid fa-pen-to-square"></i>
                      Editar
                  </button>
              
                  <button type="button" class="btn btn-danger m-1" (click)="delete(Proyectos.id)">
                      <i class="fa-solid fa-trash"></i>
                      Borrar
                  </button>
            </div>
        </div>
        <br>
      </li>
  </ul>

</section>