<section id="educacion" class="seccion">
    <div class="row">
        <div class="col-9">
            <h2 class="tit1">Educación</h2>
        </div>
        <div class="col-3 text-center">
            <button type="button" class="btn btn-secondary" routerLink="/nuevaedu" *ngIf="isLogged">
                <i class="fa-solid fa-plus"></i>
                Agregar
            </button>
        </div>
    </div>


    <ul class="items-list">
        <li *ngFor="let Educacion of educacion">
          <div class="row justify-content-between contenido">
            <h2>{{Educacion.nombreE}}</h2>
                <div class="col-2 text-center">
                    <img class="logo" src="../../../assets/logo_Arg_Prog.jpg" alt="Logo Argentina Programa">
                </div>
                <div class="col-7 textDes">
                    <h4>{{Educacion.descripcionE}}</h4>
                    <!-- <h5>{{educacion.end}}</h5> -->
                </div>

                <div class="col-3" *ngIf="!isLogged">
                </div>

                <div class="col-3 text-center" *ngIf="isLogged">
                    <button type="button" class="btn btn-success m-1" routerLink="/editedu/{{Educacion.id}}">
                        <i class="fa-solid fa-pen-to-square"></i>
                        Editar
                    </button>
                
                    <button type="button" class="btn btn-danger m-1" (click)="delete(Educacion.id)">
                        <i class="fa-solid fa-trash"></i>
                        Borrar
                    </button>
              </div>
          </div>
          <br>
        </li>
    </ul>
    

    
    <!-- <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td><h2>{{Educacion.nombreE}}</h2></td>
                    <td>{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button type="button" class="btn btn-light m-1" routerLink="/editedu/{{Educacion.id}}">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Editar
                        </button>
                    </td>
                    <td *ngIf="isLogged">
                        <button type="button" class="btn btn-light m-1" (click)="delete(Educacion.id)">
                            <i class="fa-solid fa-trash"></i>
                            Borrar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
    


</section>