<footer class="bg-dark text-center text-white">
    

    <!-- Copyright -->
    <div class="row">
        <div class="col-10 text-start p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <p>Gustavo D. Pérez | © Argentina Programa 2023</p>
            <!-- <p>Concordia, Entre Ríos, Argentina</p> -->
        </div>
    
        <div class="col-2 text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <p>
                Home 
                <a href="#home">
                    <i class="fa-solid fa-circle-arrow-up fa-bounce fa-xl" style="color: #ffffff;"></i>
                </a>
            </p>
        </div>
    </div>
    <!-- Copyright -->
  </footer>
