<div id="about" class="seccion">
    <div class="row">
        <div class="col-10">
          <h2 class="tit1">Acerca de</h2>
        </div>
        <div class="col-2 text-center">
          <button type="button" class="btn btn-light">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </div>
    </div>

    <h4 class="contenido">Me recibí de Técnico Superior en Tecnología de los Alimentos en la Universidad de Entre Ríos. Actualmente mi desafío es convertirme en un Desarrollador Web Full Stack. Me gusta aprender y desarrollar nuevas habilidades de todo tipo.</h4>
</div>
