<div class="container add-edit">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">

                <div class="form-group">
                    <label for="descripcion">Ingrese un texto</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
                </div>

                <br>
                <button class="btn btn-success">
                    Agregar
                </button>
            </form>
        </div>
    </div>
</div>
