* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-image: url('https://i.pinimg.com/originals/73/66/fd/7366fd4632d347c0fc0e0d82c374fedd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.login-fondo {
  background-image: url('https://i.pinimg.com/originals/73/66/fd/7366fd4632d347c0fc0e0d82c374fedd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card-fondo {
  background-color: rgba(90, 124, 96, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}

.presentacion {
  background-color: #ffffff;
  margin-top: 150px;
  margin: 1em;
  border-radius: .5em;
  border: 1px solid #aaa;
  box-shadow: 1px 1px 2px 0 #000;
}

.banner {
  width: 100%;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  padding: 0;
}

.presentacion_datos {
  padding: 10px;
}

.fotoperfil {
  position: relative;
  margin-top: -155px;
  margin-left: 1em;
  width: 300px;
}

.nombre {
  font-weight: bold;
  font-size: 2.5em;
}

p {
  font-size: 2em;
}

.instituciones {
  margin-top: 100px;
}


.seccion {
  background-color: rgba(255, 255, 255, .8);
  padding: 20px 15px 10px;
  margin: 1em;
  border-radius: .5em;
  border: 1px solid #aaa;
  box-shadow: 1px 1px 2px 0 #000;
}

.add-edit {
  background-color: rgba(255, 255, 255, .8);
  display: block;
  position: relative;
  justify-content: center;
  margin-top: 5%;
  border-radius: .5em;
  border: 1px solid #aaa;
  box-shadow: 1px 1px 2px 0 #000;
}

.spinner-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tit1 {
    margin: 0em 1;
    color: darkgreen;
    text-shadow: 1px 1px 2px #aaa;
    font-size: 3rem;
    font-weight: bold;
}

.logo-presentacion {
    width: 6rem;
}

h5 {
    color: #777;
}

.contenido {
    padding: 5px 5px 5px 30px;
}

ul {
    list-style: none;
}

.logo {
  width: 80%;
}

footer{
  background-color: #000;
  color: #fff;
  padding: 20px 20px 5px;
  display: flex;
  justify-content: space-between;
}

footer>p {
  font-size: 20px;
}

@media (max-width: 1200px) {
  p {
    font-size: 1.5em;
  }

  footer>p  {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .tit1 {
    font-size: 2.4rem;
  }

  .logo-presentacion {
    width: 4rem;
  }
}

@media (max-width: 768px) {
  .fotoperfil {
    position: relative;
    margin-top: -105px;
    margin-left: 1em;
    width: 200px;
  }

  p {
    font-size: 1.2em;
  }

  .tit1 {
    font-size: 2rem;
  }
}

@media (max-width: 617px) {
  .fotoperfil {
    position: relative;
    margin-top: -80px;
    margin-left: 1em;
    width: 150px;
  }

  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1em;
  }

  .btn {
    font-size: .8em;
  }

  .items-list {
    margin-left: -10%;
  }

  .tit1 {
    font-size: 1.8rem;
  }

  footer>p  {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .fotoperfil {
    position: relative;
    margin-top: -55px;
    margin-left: 0;
    width: 100px;
  }

  .foto-nombre {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .nombre {
    font-size: 1.7em;
  }

  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: .8em;
  }

  .logo-presentacion {
    width: 2em;
  }

  .instituciones {
    display: none;
  }

  .items-list {
    margin-left: -12%;
  }

  .tit1 {
    font-size: 1.6rem;
  }

/*   .btn-success>span, .btn-danger>span {
    display: none;
  } */
}
